body{
	background: url(../imagenes/logo.jpg);
	color: #fff;
	border-style:double; 
	width: 700px;
	margin: 50px 350px;
}

div  {id="cuerpo";
	background: #8A0808;
}
h1{
	position: relative;
	top: 10px;
	left: 250px;
	width: 250px;
	background: #8A0808;


}

h2,p {
	position: relative;
	left: 50px;
	width: 50%;
	background: #8A0808;
	display: inline-block;
}

img{
	display: block;
	margin: auto;
	position: absolute;
	left: 60%;
	height: 20%;
	top: 20%;
}
